body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  margin: auto;
  overflow: hidden;
}

h1 {
  text-align: center;
  color: #333;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  background-color: #333;
}

.btn-add {
  background-color: #4CAF50;
}

.btn-view {
  background-color: #007BFF;
}

.btn-update {
  background-color: #FFC107;
}

.btn-delete {
  background-color: #DC3545;
}

.btn-close, .btn-save, .btn-confirm {
  background-color: #007BFF;
}

.btn-back {
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  display: inline-block;
}

.btn-back:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.inventory-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  background: #fff;
  border: 1px solid #ddd;
}

.inventory-table th, .inventory-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  color: #333;
}

.inventory-table th {
  background-color: #f4f4f4;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #fff;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.3s ease-out;
  overflow: hidden;
}

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #ddd;
  background: #f4f4f4;
  color: #333;
  position: relative;
}

.modal-body {
  padding: 15px;
}

.modal-footer {
  padding: 15px;
  border-top: 1px solid #ddd;
  text-align: right;
  background: #f4f4f4;
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
}

input[type="text"], input[type="number"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="text"]:focus, input[type="number"]:focus {
  border-color: #007BFF;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
