body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    background-color: #333;
}

.btn-back {
    background-color: #007BFF;
    display: block;
    margin: 20px auto;
}

.btn-view {
    background-color: #28a745;
}

.btn:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-table th, .product-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    color: #333;
}

.product-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.product-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.product-table tr:hover {
    background-color: #f1f1f1;
}

.product-table td {
    font-size: 16px;
}
